asgiref==3.9.0
bleach==5.0.1
certifi==2025.7.14
charset-normalizer==3.4.2
dj-database-url==3.0.1
Django==5.2.4
django-bleach==3.1.0
django-ckeditor==6.7.3
django-js-asset==3.1.2
docopt==0.6.2
idna==3.10
pillow==11.3.0
psycopg2-binary==2.9.10
python-dotenv==1.1.1
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
tinycss2==1.1.1
urllib3==2.5.0
webencodings==0.5.1
yarg==0.1.10
