{% extends 'layout.html' %}

{% block title %}
    Posts | Django Auth App
{% endblock %}

{% block content %}

<div class="flex-wrap p-h-20">
    <h1>Blog</h1>

    {% if user.is_authenticated %}
        <a class="nav-link btn btn-info" href="{% url 'posts:new-post' %}">Add New Post</a>
    {% endif  %}
</div>

<section class="blog-section">
{% for post in posts %}
    <article class="blog-article">
        <h2>
            <a href="{% url 'posts:page' slug=post.slug %}">{{post.title}}</a>
        </h2>
        <h4>{{post.date}} by {{ post.author}} </h4>
        <p>{{post.content|safe|truncatechars:50}}</p>
    </article>

    {% endfor %}
</section>




{% endblock %}
